@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
 }

html, body {
    height: 100vh;
    background-image: url('imagens/fundoazul.png');
    background-position: center center;
    background-repeat: repeat;
    background-size: cover;
    
}

@font-face {
font-family:'Deutsch';
src: url('fontfamily/Deutsch.ttf') format('truetype'); 
}

@font-face {
font-family: 'MorrisRomanBlack';
src: url('fontfamily/MorrisRomanBlack.otf') format('truetype');
}

@font-face {
   font-family: 'GeosansLight';
   src: url('fontfamily/GeosansLight.ttf') format('truetype');
   }
  
 
header{
text-align: center;
background-color:#3f3f3f ;
min-height: 120px;
padding-top: 10px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.397);


}

header> h1 {
   font-family:'MorrisRomanBlack';
   font-size: 10vw;
   color: rgb(255, 255, 255);

}

header> p {
   padding-bottom: 30px;
   color: rgb(255, 255, 255);
   text-align: center;
   
}

p {
   font-family: 'GeosansLight';
   margin: 10px;
   padding: 10px;
   font-size: 2vw;
   font-weight: bolder;
   text-align: left;
   
   
}

header a, footer a {
   color: rgb(255, 255, 255);
   text-decoration: none;
   font-weight: bolder;
  }

  header a:hover, footer a:hover {
   text-decoration: underline;
  }

  section {
   padding-top: 10vh;
   padding-bottom: 10vh;
   line-height: 2em;
   padding-left: 30px;
   font-size: 2.8vw;
   text-align: left;
   
  }

  section > p {
   padding-bottom: 2em;
  }

  section.imagem {
   background-color: #5e6379;
   color: white;
   background-size: cover;
   background-attachment:fixed ;
   
  }

  section.imagem > p {
   display: inline-block;
   background-color: rgba(0, 0, 0, 0.658);
   padding: 20px;
   text-shadow: 1px 1px 0px black;
   
  }

  section#img01 {
    background-image: url('../estilo/imagens/janela1.png') ;    
  }

  section#img02 {
   background-image: url('../estilo/imagens/edgarallanpoe2.png'); 
  }
  
  section#img03{
   background-image: url('../estilo/imagens/corvo2.png');
  }

h2 {
   font-family: 'GeosansLight';
   text-align: center;
}

h2> p{
   font-family: 'GeosansLight';
}
footer {
   background-color: #3f3f3f;
   text-align: center;
   padding: 0.1px;
}

footer> p {
   color: white;
   text-align: center;
}